header {
  grid-area: 1 / 1 / 3 / 4;
}

main>* {
  background: silver;
}

main {
  display: grid;
  width: 960px;
  margin: 20px auto 0 auto;
  grid: repeat(12, 1fr) / repeat(12, 1fr);
  font-family: Arial, Helvetica, sans-serif;
  gap: 15px;
}

nav {
  display: grid;
  grid-area: 1 / 7 / 3 / 13;
  align-self: center;
  align-content: center;
  justify-items: center;
  grid-template-columns: repeat(4, auto);
  height: 50px;
}

.collection {
  background: white;
  display: grid;
  grid-area: 6/1 / 12/13;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}

.gallery_part {
  background: silver;
  size: auto;
}

.content {
  background: white;
  grid-area: 3 / 1 / 6 / 13;
}

.content>* {
  text-align: justify;
}

footer {
  grid-area: 12 / 1 / 13 / span 12;
  text-align: center;
  padding: 15px;
}