header {
  grid-area: 1 / 1 / 2 / 4;
}

.title {
  display: grid;
  height: 60px;
  grid-row: 6/7;
}

main>* {
  background: silver;
}

main {
  display: grid;
  width: 960px;
  margin: 25px auto 0 auto;
  grid: repeat(10, 1fr) / repeat(12, 1fr);
  font-family: Arial, Helvetica, sans-serif;
  gap: 15px;
}

nav {
  display: grid;
  grid-area: 1 / 7 / 2 / 13;
  align-self: center;
  align-content: center;
  justify-items: center;
  grid-template-columns: repeat(4, auto);
  height: 50px;
}

.banner {
  grid-area: 2 / 1 / 6 / 13;
}

.banner>* {
  padding: 10px 15px 0 15px;
  text-align: justify;
}

.prod {
  background: silver;
  size: auto;
}

.products {
  background: white;
  display: grid;
  grid-area: 7/7 / 12/13;
  grid-template: repeat(2, auto) / repeat(2, auto);
  gap: 15px;
}

.title:first-of-type {
  grid-column: 1/4;
}

.title:nth-of-type(2) {
  grid-column: 7/10;
}


.blog_post {
  background: silver;
  size: auto;
}

.posts {
  background: white;
  display: grid;
  grid-area: 7/1 / 12/7;
  grid-template-columns: auto;
  gap: 15px;
}

footer {
  grid-area: 12 / 1 / 13 / 13;
  text-align: center;
  padding: 15px;
}